$color-main: #5dbeff;
$color-side: #ffff;
$color-input: #f1f9ff;
$color-marked: #2e5f80
$color-warning: #9b2452;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
