@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
$color-main: #5dbeff;
$color-side: #ffff;
$color-input: #f1f9ff;
$color-marked: #2e5f80;
$color-warning: #9b2452;

$font-title: 'M PLUS Rounded 1c', sans-serif;

$radius: 10px;
$base-size: 12px;
$transition: all 0.5s;
