@import '../../../styles/settings';

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: $color-main;
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10px;

  h1 {
    font-size: 72px;
    font-family: $font-title;
    margin: 0 auto;
  }
}

.subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  margin: 0 auto;
  padding: 0 auto;
}

.buttons {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 60px 0;
}

.iconBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-side;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: -10px;
}

.icon {
  font-size: 29px;
  color: $color-main;
}

/* On screens that are 992px or more */
@media screen and (min-width: 992px) {
  .component {
    max-width: 900px;
    margin: 0 auto;
  }
  .title {
    h1 {
      font-size: 118px;
    }
  }
  .subtitle {
    font-size: x-large;
  }
  .iconBackground {
    width: 100px;
    height: 100px;
    .icon {
      font-size: 56px;
    }
  }
}

/* On screens that are 400px or less */
@media screen and (max-height: 400px) {
  .buttons {
    padding: 20px 0;
  }
}

/* On screens that are 992px or more */
@media screen and (max-height: 300px) {
  .buttons {
    padding: 20px 0;
  }
  .subtitle {
    display: none;
  }
}
