@import '../../../styles/settings';

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: $color-main;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 700px;
}

.buttons {
  display: flex;
  flex-direction: column;
}
