@import '../../../styles/settings';

.component {
  background: $color-side;
  width: 60%;
  border: 0;
  color: $color-main;
  text-align: center;
  line-height: 1.3;
  padding: $base-size;
  margin: 0 $base-size;
  border-radius: $radius;
  cursor: pointer;
  font-size: 24px;
  text-transform: uppercase;
  transition: $transition;
  margin-bottom: 10px;

  &:hover {
    background: darken($color-side, 5%);
  }

  &.primary {
    background: $color-main;
    color: $color-side;
    &:hover {
      background: $color-side;
      color: $color-main;
    }
  }
}
